.chartContainer {
    padding: 20px 10px;
    position: relative;
}

.chartTitle {
    text-align: center;
    margin-top: 1px;
    text-transform: uppercase;
}

.chartProfits li {
    float:left;
    padding-right: 60px;
}

.chartProfits li span {
    font-weight: bold;
}

.tradeHistory {
    background: white;
    min-width: 485px;
}

.tradeHistory header {
    border-bottom: 1px solid #ddd;
}

.tradeHistory header span{
    font-weight: bold;
}

.tradeHistory .rows {
    height: 568px;
    overflow: auto;
}

.tradeHistory .rows .tradeRow {
    border-bottom: 1px solid #ddd;
}

.tradeHistory .rows .tradeRow:hover {
    background: #aaa;
    cursor: pointer;
}

.tradeHistory .tradeRow span, .tradeHistory header span{
    border-right: 1px solid #ddd;
    padding: 5px;
    display: inline-block;
}

.tradeHistory .tradeRow span:last-child, .tradeHistory header span:last-child {
    border-right: none;
}

.tradeHistory .tradeRow:nth-of-type(even) {
    background: #eee;
}

.tradeHistory .tradeRow span:nth-child(1), .tradeHistory header span:nth-child(1){
    width: 44px;
}

.tradeHistory .tradeRow span:nth-child(2), .tradeHistory header span:nth-child(2){
    width: 92px;
}

.tradeHistory .tradeRow span:nth-child(3), .tradeHistory header span:nth-child(3){
    width: 92px;
}

.tradeHistory .tradeRow span:nth-child(4), .tradeHistory header span:nth-child(4){
    width: 70px;
}

.tradeHistory .tradeRow span:nth-child(5), .tradeHistory header span:nth-child(5){
    width: 70px;
}

.chartContainer .chartData{
    float: left;
    width: 30%;
    padding-right: 10px;
}

.chartContainer .chartBox {
    float: left;
    width: 70%;
}