html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #333;
}

* {
    acolor: #eee;
}

p {
    acolor: white;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    list-style: none;
}

.resultRate {
    line-height: 70px;
    text-align: center;
    border: 1px solid green;
    border-radius: 50%;
    list-style: none;
    width: 70px;
    font-weight: bold;
    float: left;
    margin-right: 40px;
}

.totalProfit {
    padding: 10px;
    margin-top: -10px;
}

.totalProfit li {
    afloat: left;
    padding-right: 20px;
}

.totalProfit p {
    color: black;
    line-height: 20px;
}

.tab-content {
    background: #fff;
}

.controlsContainer {
    border-bottom: 5px solid white;
    padding: 20px;
    margin-bottom: 20px;
}

.controlBox {
    padding: 20px;
    border-radius: 4px;
    display: inline-block;
}

.topMenuContainer {
    float:left;
    width: 50%;
    padding: 5px 30px 15px 15px;
}

hr {
    border-color: green;
    background-color: green;
    color: green;
    margin: 5px;
}

.optionsContainer {
    border-right: 1px solid grey;
}


.resultsContainer hr {
    margin-bottom: 25px;
}

#emulatorTabs li a {
    background-color: #ddd;
}

#emulatorTabs li.real-active a {
    background-color: #fff !important;
}
